aws {
   region = 'us-east-1'
   client {
      uploadChunkSize = 10485760
   }
   batch {
      volumes = ['/staging/scratch':params.efs_file_system_id]
      cliPath = '/home/ec2-user/miniconda/bin/aws'
      executionRole = 'arn:aws:iam::001762009032:role/TowerForge-3oRO4uyYos8perj6gnvROK-ExecutionRole'
   }
}

// Process configuration is managed by Seqera Compute
// No need to specify executor or queue when using Seqera Compute

fusion {
    enabled = true
    exportStorageCredentials = true
}

wave {
    enabled = true
}